# Системные файлы кэша Python (создаются при запуске скриптов)
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (папка, куда ты ставишь библиотеки)
venv/
.venv/
env/

# Файлы настроек Windsurf / VS Code
.vscode/
.windsurf/

# Файлы конфигурации и секреты (СЮДА МЫ СПРЯЧЕМ ТОКЕН)
.env
.env.local

# Базы данных (если вдруг решишь сделать локальный бэкап)
*.sql
*.sqlite3